SYS_NAME = 基于nestv8框架的系统
; 应用路由前缀
; APP_PRIFIX_PATH = /api/v2/
PROJECT_NAME = NESTV8_BASE_FRAMEWORK
PORT = 3002


DATABASE_HOST = 127.0.0.1
DATABASE_PORT = 5432
DATABASE_USER = nestv8
DATABASE_PWD = nestv8
DATABASE_DB = nestv8
DATABASE_SCHEME = public
TYPEORM_SYNC = true
; DATABASE_LOG = false
; HOST = http://5amrkb.natappfree.cc

; 缓存和队列
REDIS_HOST = 127.0.0.1
REDIS_PORT = 6379
; REDIS_PWD = 
REDIS_CACHE_DB = 1
REDIS_QUEUE_DB = 2

; QN_CDN_URL = http://xxx.qn.com/
; QN_BUKET = test
; QN_ACCESS_KEY = test-V69m5-q
; QN_ACCESS_SECRET = test-ljtS-sZ9skPa9s5dwp

; ali-oss
ALIOSS_ACCESS_KEY_ID = test
ALIOSS_ACCESS_KEY_SECRET = test
ALIOSS_ACCESS_RAM = acs:ram::test:role/ossuploader
ALIOSS_ACCESS_REGION = oss-cn-zhangjiakou
ALIOSS_ACCESS_BUCKET = test
ALIOSS_ACCESS_CDN_URL = https://test.oss-cn-zhangjiakou.aliyuncs.com

ACCOUNT_EMAIL_HOST = test.com

; 微信小程序
WECHAT_MINIAPPID = test
WECHAT_MINA_APP_SECRET = test

; 微信公众号
WECHAT_MP_APPID = test
WECHAT_MP_SECRET = test


; 百度内容审核
BD_AIP_APPID = test
BD_AIP_KEY = test
BD_AIP_SECRET = test


#aws-clound-watch
CLOUDWATCH_GROUP_NAME = v8-server-test
CLOUDWATCH_STREAM_NAME = log
AWS_ACCESS_KEY_ID = test
AWS_SECRET_ACCESS_KEY = test
AWS_REGION = cn-northwest-1


; 微信支付
WECHAT_PAY_MCHID = 123456
WECHAT_PAY_APIV2_SECRET = 123456
WECHAT_PAY_APIV3_SECRET = 123456
WECHAT_PAY_MERCHANT_CERT_SERIAL = 654321
; 配置商户私钥值，以避免代码中包含风险信息
WECHAT_PAY_MERCHANT_PRIVATE_KEY_VAL = 密钥内容
; 或者配置私钥地址，但是有泄露风险信息的风险
; WECHAT_PAY_MERCHANT_PRIVATE_KEY_PATH = ./payment/cert/wechat/apiclient_key.pem
; 配置平台证书值，以避免代码中包含风险信息
WECHAT_PAY_PLATFORM_CERT_VAL = 平台证书内容
; 或者配置证书地址，但是有泄露风险信息的风险
; WECHAT_PAY_PLATFORM_CERT_PATH = ./payment/cert/wechat/wechatpay_1BEC4C8D64B07A5226147458000A77A92735E972.pem
WECHAT_PAY_PLATFORM_CERT_SERIAL = 1BEC4C8D64B07A5226147458000A77A92735E972
WECHAT_PAY_NOTIFY_URL =  

; 短信配置
LKSMS_USER_ID = 1
LKSMS_APPID = 123
LKSMS_PASSWORD = 1234
LKSMS_SIGN = 短信签名


; 验证码配置
; 测试验证码的值，设置此值则已该值为验证码
CAPCHA_VERIFY_TEST = 1234
